* {
    font-family: sans-serif;
}

.first-container {
    justify-content: center;
    flex: 1;
  }

.headercontainer,
.firstbody {
    display: flex;
    flex: 1;
    background-color: rgb(0, 1, 54);
    color: white;
}

ul {
    text-decoration: none;
    list-style: none;
}

.headercontainer {
    margin-top: -30px;
}

.header {
    display: flex;
    flex: 1;
    margin-left: 220px;
    align-items: center;
    font-size: 30px;
}

.headerlinks {
    display: flex;
    align-items: center;
    width: 300px;
    flex: 1;
    font-size: 20px;
    font-weight: lighter;
    justify-content: flex-end;
    padding: 10px;
    gap: 25px;
    margin-right: 220px
}

.firstbody {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 220px;
    margin-top: -190px;
    background-color: rgb(0, 1, 54);
}

.left {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    height: 340px;
    width: 510px;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 1, 54);
}

.intro-header {
    font-size: 45px;
    width: 480px;
    margin-bottom: -10px;    
}

.firstp {
    color: rgb(182, 182, 182);
    font-size: 21px;
    width: 500px;
}


.right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
   }

.byebyefishy {
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 700px;
}

.sign-up {
    width: fit-content;
    color: whitesmoke;
    background-color: rgb(0, 79, 250);
    border-radius: 3px;
    width: 100px;
    height: 30px;
    border-style: none;
    font-size: large;
}

.secondbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin-bottom: 50px;
}

.headertwo {
    font-weight: bolder;
    flex-direction: column;
    align-items: center;
}

.no-grandma {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 45px;
    text-align: center;
    font-weight: 200;
    font-size: 16px;
}

.grandma {
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.caption {
    display: block;
    width: 150px;
    text-align: center;
}

.thirdbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;

    padding: 120px;
   
}

.paragraph {
    justify-content: center;
    align-items: center;
    font-size: 19px;
    width: 600px;

}

.Thor {
    display: flex;

}

.fourthbody {

}

.footer {

}