* {
}

.headercontainer {
    display: flex;
}

.header {
    display: flex;
}

.headerlinks {
    display: flex;
    font-size: small;
    justify-content: space-around;
}

.firstbody {

}

.secondbody {

}

.thirdbody {

}

.fourthbody {

}

.footer {

}